{
  "extends": "standard",
  "env": {
    "jquery": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "fetch": true,
    "FileReader": true,
    "FormData": true
  }
}
