.nav-wrapper a
  color: black !important

.action
  position: fixed
  right: 1rem
  bottom: 1rem

.action__inner i
  font-size: 16px

  margin-top: 9px
  margin-bottom: 9px
  margin-right: 4px

.action__inner p
  margin: 0px

tbody .row
  height: 3rem

.draggable-tools.add-padding
  padding-top: 20rem

.note-form__textarea.note_body
  border: 1px solid #9e9e9e  
  padding: 0.75rem
  background-color: #DFDFDF
