.page
  &__container
    margin-bottom: 4rem
  &__items
    display: flex
    justify-content: flex-end
  &__item
    @media screen and (max-width:979px)
      min-width: 9rem
      padding-right: 1rem
  &__block
    margin-bottom: 2rem
  &__title
    margin-bottom: 1.5rem
  &__sub-title
    margin-bottom: 1rem
