.sign_in__contents
  padding-top: 4rem
  margin-bottom: 2rem
  padding-left: 1rem
  padding-right: 1rem

.sign_in__title
  text-align: center
  
.sign_in__text
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  
  img
    height: 54px
  @media screen and (max-width:979px)
    font-size: 1.5rem
  @media screen and (min-width:980px)
    font-size: 2rem
  
.sign_in__link
  text-align: center
  margin-top: 3rem
  margin-bottom: 3rem

.sign_in__link--button
  +blue-button-style
  text-align: center
  @media screen and (max-width:559px)
    font-size: 1.75rem
  @media screen and (max-width:560px)
    white-space: pre
  
.sign_in__link:active--button
  border-bottom: solid 2px #fd9535
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30)

.sign_in__proviso
  text-align: center
  font-size: 1rem
