.container
  width: 980px
  margin-left: auto
  margin-right: auto

.welcome__container > *
  margin-left: 10px
  margin-right: 10px

=welcome__block--center
  display: flex
  align-items: center
  flex-direction: column
  align-items: cent
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN", Meiryo, Helvetica, Arial, sans-serif

.welcome__block--center
  +welcome__block--center
  flex-direction: column
  flex-wrap: wrap

.welcome-logo__block--center
  +welcome__block--center

.welcome-logo__image-container
  margin-top: 3rem
  margin-bottom: 1rem
  margin-left: 1rem
  display: inline-block
  text-align: center

.welcome-logo__image
  display: block
  margin: auto

.welcome__image
  width: 100%

.welcome__block
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN", Meiryo, Helvetica, Arial, sans-serif
  line-height: 1.7
  margin-bottom: 3rem

.welcome__block--button
  +blue-button-style

  text-align: center
  margin-top: 2rem
  margin-bottom: 3rem

.welcome__block--icon:active--button
  border-bottom: solid 2px #fd9535
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30)

.welcome__title
  margin: 0rem

.welcome__sub-title
  font-size: 1.5rem
  margin-top: 0rem
  margin-bottom: 2rem

.welcome__text
  font-size: 1rem
  margin-top: 0rem
  margin-bottom: 1rem
