html
  overflow: auto

body
  overflow-x: hidden
  position: relative

  background-color: $background-color
  overflow-scrolling: touch
  -webkit-overflow-scrolling: touch

a
  color: #000000
  text-decoration: none

input,
textarea
  outline: none

.hidden
  display: none
