.a-button
  display: flex
  padding: 0.25em 0.5em
  border-radius: 4px
  justify-content: center
  align-items: center

  font-weight: bold
  letter-spacing: 0.1em
  img
    margin-right: 0.2em
  i
    margin-right: 0.2em
  
  text-decoration: none
  outline: none

  +button-color($normal-button-color)
  &.is-danger
    +button-color($danger-color)
  &.is-primary
    +button-color($primary-color)
  &.a-button.is-secondary
    +button-color($secondary-color)
  &.a-button.is-warning
    +button-color($warning-color)

  @media screen and (max-width:979px)
  @media screen and (min-width:980px)
    min-width: 4.5em
