.note-show
  +is-material
  background-color: $white
  padding: 10px
  
  &__title
    margin-bottom: 10px
    word-break: break-all
  &__header
    margin-bottom: 20px
  &__items
    display: flex
    justify-content: flex-end
  &__item
    
    min-width: 9rem
    margin-left: 1rem
    button
      min-width: 9rem
      height: 2.35rem
  &__text
    padding: 20px 0
    white-space: pre-wrap
